.collections{
    padding: 1% 5%;
}
.collection-sub{
    display: flex;
    justify-content: space-around;
}
.collection-left{
    flex: 0 0 24%;
}
.left-collection,.right-collection{
   
    background-size: 100%;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-position: center;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 3% 0;
}
.head-left,.head-center,.head-right{
    color: azure;
    font-family: 'Gordita Bold';

}
.head-left::after,.head-right::after,.head-center::after{
    display:block;
    content: '';
    border-bottom: solid 3px azure;  
    transform: var(--afterBack,scaleX(0));  
    transition: transform 250ms ease-in-out;
}
.collection-center{
    flex: 0 0 42%;
}
.center-collection{
    background-image: url('../../images/collection-4.webp');
    background-size: 100%;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-position: center;
    height: 369px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 9px -33px;
}
.collection-right{
    flex: 0 0 24%;
}
