.product{
  margin: 4% 0;
}

.image-wrapper-pro {
    position: relative;
    height: 300px 
  }
  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition:  1.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
  }
  .image-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* transition:  5s cubic-bezier(0.075, 0.82, 0.165, 1); */
    
  }
  .image-hover:hover {
    opacity: 1;
    transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .top-offer{
    position: absolute;
    top: 11px;
    left: 11px;
   
    
  }
  .product-ad{
    background-color: #327FD9;
    color: aliceblue;
    font-family: 'Gordita Bold';
    font-size: 11px;
    padding: 9% 11% 5%;
    display: inline-block;
    width: 75px;
  }
  .rating-star{
    letter-spacing: 5px;
  }
  .red-offer{
    background-color: #E12C43;
  }
  .product-upper{
    /* display: flex;
    justify-content: space-evenly; */
    
  }
  .product-details{
    display: inline-grid;
    width: 19%;
    margin: 3% 1%;
    text-align: left;
  }
  .brand{
    display: block;
    color: grey;
    text-decoration: none;
    font-size: 13px;
    margin: 2% 0;
    text-transform: uppercase;
  }
  .brand:hover,.brand-details:hover{
    text-decoration: underline;
  }
  .stars{
    color: #ebca2e;
    margin: 4% 0;
    display: flex;
    justify-content: space-between;
  }
  .start a{
    cursor: pointer;
  }
  .brand-details{
    color: rgb(6, 6, 6);
    text-decoration: none;
    margin-bottom: 2%;
    text-transform: uppercase;
  }
  .items-hover{
    transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;
    position: absolute;
    top: 24px;
    right: 24px;
    height: 39%;
    font-size: 25px;

  }
  /* .variants{
    display: flex;
  }
  .variant{
    width: 12px;
    height: 20px;
    background-color: aquamarine;
    margin: 4% 0;
  } */
  .carts{
    position: relative;
    margin: 5% 0;
    cursor: pointer;
    
  }
  .first-cart{
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    margin-top: 4%;
   
    
   
  }
  .left-cart{
    background-color:#48CAB2 ;
    padding: 2% 3%;
    
  }
  .left-cart a{
    
  }
  .right-cart{
    padding: 4%;
  }
  .right-cart a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 900;
    color: #48CAB2;
  }
  .second-cart{
    display: flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    padding: 2% 3%;
    background-color: #48CAB2;
    position: absolute;
    top: 0;
    margin-top: 4%;
    
    
  }
  .second-cart:hover{
    background-color: black;
    transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  /* @keyframes slideRight{
    0%{  opacity: 1;}
    25%{  opacity: 1;}
    50%{opacity: 1;}
    75%{  opacity: 1;}
    100%{ opacity: 0;}
} */
  .second-cart-left{
  
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    

  }
  .second-cart-right{
  
    transition: .9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .second-cart p{
    transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: aliceblue;
  }
  .all-products{
    background-color: #48CAB2;
    padding: 1% 2%;
    width: 13%;
    margin: 0 auto;
  }
  .all-products:hover {
    background-color: #fff;
    transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid gray;
  }
  .all-products:hover .all-products-text{
    color: black;
  }
  .all-products-text{
    text-decoration: none;
    color: aliceblue;
  }
  .actual-price{
    text-decoration: line-through;
    color: #3c3b3b;
    opacity: 60%;
    margin-left: 9px 
  }
  .heart-fav{
    color: #48CAB2;
    font-size: 26px;
    cursor: pointer;
  }
  .wishlist{
    background-color:#48CAB2 ;
   color: white;
   position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Gordita Bold';
    cursor: pointer;
    display: none;
  }
  