.dropdown {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    padding-bottom: 7%;
    align-items: center;
    display: flex;
  }
  
  .dropdown-menu {
    background-color: #fff;
    list-style-type: none;
    display: block;
    padding: 18px 71px;
    position: absolute;
    opacity: 0;
    text-align: left;
    top: 20px;
    visibility: hidden;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }