.parent-product-view{
    display: flex;
    justify-content: space-between;
    margin: 1% 4%;
}
.product-cart-left{
    width: 55%;
}
.product-view-cart{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin: 3% 6%;
    align-items: end;
    border: 1px solid #E9E7E7;
    padding: 1%;
}
.details-product-view-cart{
    font-family: 'Gordita Bold';
    font-size: 14px;
}
.right-view-cart{
    width: 50%;
    text-align: left;
    margin: 0 auto;
    align-items: center;
    display: inline-grid;
}
.left-view-cart{
    width: 40%;
    height: 200PX;
}
.left-view-cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.price-view-cart{
    color: #48CAB2;
    font-size: 18px;
}

.cart-add{
    margin: 0 2%;
}
.star-rating-cart{
    color: #0b0b0a;
    font-size: 13px;
    font-family: 'Gordita Light';
    margin-top: 4%;
}.product-category-cart{
    display: flex;
    margin: 4% 0;
}
.p-category-cart{
    font-family: 'Gordita Regular';
    margin-right: 2%;
}
.desc-prod-cart{
    font-family: 'Gordita Regular';
    
}
.brand-cart{
    font-size: 16px;
    text-transform: uppercase;
}
.brand-value-cart{
    font-size: 13px;
    font-family: 'Gordita Regular';
    text-transform: uppercase;
}
.size-cart,.qty-cart{
    font-family: 'Gordita Light';
    font-size: 13px;
}
.product-cart-right{
    width: 40%;
    height: 450px;
    align-items: center;
    display: grid;
    border: 1px solid #E9E7E7;
    padding: 1% 3%;
    margin-top: 21px;
}
.totalamount{
    display: flex;
    justify-content: space-between;
}
.total-amount{
    display: flex;
    justify-content: space-between;
    font-family: 'Gordita Bold';
}
.coupon{
    text-decoration: none;
    color: #48CAB2;
    font-family: 'Gordita Bold';
}
.payable{
    height: 265px;
    display: grid;
    border-bottom: 1px solid gray;
}
.proceed-to-pay{
    background: #48CAB2;
    padding: 3% 6%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12%;
}
.cart-delete{
    margin-right: 1%;
    color: #48CAB2;
    position: absolute;
    top: 10px;
    right: 8px 
}
