div.overlay{
  background: rgba(0,0,0,.5);
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
    transition: opacity .8s ease,visibility .9s ease,transform .4s ease;
}
div.theme{
    display: flex;
    padding: 0 10%;
    
}
div.categories{
    min-width: 270px;
    
}
div.heading{
    display: flex;
    background-color: #48CAB2;
    padding: 9px 3%;
    color: #fff;
}
ul.category-list{
    list-style: none;
    padding: 2% 3%;
    border: 1px solid #E9E7E7;
}
div.font-awesom{
    flex: 0 0 39px;
    color: #787676;
    font-size: 22px;
}
div.font-awesome{
    flex: 0 0 39px;
}
a.setting{
    display: flex;
    text-decoration: none;
    color: #191919;
    font-weight: 800;
    margin: 2% 0;
    align-items: center;
    font-size: 14px;
}
a.setting:hover{
    color: #48CAB2;
    transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.right-arrow,.right-arrow-men{
  margin-left: 47%;
  color: gray;
  opacity: 40%;
}
.right-arrow-men{
  margin-left: 58%;
}
div.details{
  width: 77%;
  position: relative;
}
div.portfolio{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
}
ul.portfolio-list{
    display: flex;
    list-style: none;
    margin-left: 4%;
    align-items: baseline;
}
li.port-list {
    margin: 0px 13px;
}
li.port-list-main{
    margin: 0px 13px;
}
a.port-nav{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
}
li.port-list-main{
    border-bottom: solid 2px #48CAB2;  
}
li.port-list-main a.port-nav{
    color: #48CAB2;
    
}
li.port-list:after {
    display:block;
    content: '';
    border-bottom: solid 2px #48CAB2;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  li.port-list:hover:after {
     transform: scaleX(1); 
    }
div.buy{
    margin: 0 2%;
}
a.buy-theme{
    text-decoration: none;
    color: #48CAB2;
    font-weight: 800;
    font-size: 14px;
}
a.buy-theme:after {
    display:block;
    content: '';
    border-bottom: solid 2px #48CAB2;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  a.buy-theme:hover:after {
    transform: scaleX(1); 
   }

   .dropdown-list  {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    padding: 8px 0;
    align-items: center;
    display: flex;
    
    
  }
  .dropdown-list-women-list  {
    width: 104%;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    
    
  }
  .dropdown-list-men-list  {
    width: 104%;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    
    
  }
  .dropdown-list-menu-women-list {
    width: 41pc;
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: 261px;
    right: -340px;
    padding: 24px 39px;
    opacity: 0;
    text-align: left;
    top: -11px;
    visibility: hidden;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .dropdown-list-menu-men-list {
    width: 41pc;
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: 261px;
    right: -340px;
    padding: 24px 39px;
    opacity: 0;
    text-align: left;
    top: -48px;
    visibility: hidden;
    z-index: 1000;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .dropdown-list-women-list:hover .dropdown-list-menu-women-list  {
    opacity: 1;
    visibility: visible;
     animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .dropdown-list-men-list:hover .dropdown-list-menu-men-list  {
    opacity: 1;
    visibility: visible;
     animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .dropdown-list-menu {
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: -15px;
    right: -245px;
    padding: 24px 39px;
    opacity: 1;
    text-align: left;
    top: 41px;
    visibility: hidden;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
   
  }
  .dropdown-list-men {
    width: 88pc;
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: -58pc;
    padding: 24px 39px;
    opacity: 0;
    text-align: left;
    top: 41px;
    visibility: hidden;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
   
  }
  .dropdown-list-shop{
    width: 72pc;
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: -373px;
    padding: 24px 39px;
    text-align: left;
    top: 41px;
    visibility: hidden;
    opacity: 0;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .dropdown-list-women{
    width: 88pc;
    background-color: #fff;
    list-style-type: none;
    display: block;
    position: absolute;
    left: -52pc;
    padding: 24px 39px;
    text-align: left;
    top: 41px;
    visibility: hidden;
    opacity: 0;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .dropdown-list:hover .dropdown-list-menu  {
    opacity: 1;
    visibility: visible;
    /* top: 100%; */
    
    animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .dropdown-list:hover .dropdown-list-men  {
    opacity: 1;
    visibility: visible;
     animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .dropdown-list:hover .dropdown-list-shop  {
    opacity: 1;
    visibility: visible;
    /* top: 100%; */
    
    animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .dropdown-list:hover .dropdown-list-women  {
    opacity: 1;
    visibility: visible;
    animation: slideleft .4s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  a.slide-list{
    text-decoration: none;
    color: #100f0f;
    display: block;
    margin: 9px 0;
    font-size: 15px;
    font-family: 'Gordita Light', sans-serif;
  }
  a.slide-list:hover{
    color:#48CAB2 ;
  }
  a.bold{
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 9%;

}
div.shop{
    display: flex;
}
div.shop-sub{
    margin: 0 3%;
}
div.women-pack{
    display: flex;
}
.women-pack-list{
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
.women-slide-list{
  font-size: large;
    text-decoration: none;
    color: black;
    font-family: 'Gordita Bold';
}
.li-clothing{
  margin-bottom: 15%;
}
.men-pack{
  display: flex;
  width: 52%;
}
a.men-fashion-image img{
  height: 110px;
  width: 160px;
}
div.women-cloth{
  flex: 0 0 78%;
}
.men-cloth{
  flex: 0 0 33%;
}
.men-dresses{
  display: flex;
  width: 47%;
  justify-content: space-between;
}
.men-fashion{
  display: flex;
    justify-content: space-between;
    margin: 3% 0;
}
.men-dress-sub{
 width: 46%;
 text-decoration: none;
 text-align: center;
  color: black;
}
.men-image-1,.men-image-2{
  background-size: 100%;
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-position: center;
  height: 367px;
}
.men-image-1{
  background-image: url('../../images/men-dresses-1.jpeg');
  
  
}
.men-image-2{
  background-image: url('../../images/men-dresses-2.jpeg');
}
.men-head{
  font-family: 'gordita bold';
  margin: 10% 16% 2%;
}
.men-head::after{
    display:block;
    content: '';
    border-bottom: solid 2px #111212;  
    transform: var(--afterBack,scaleX(0));  
    transition: transform 250ms ease-in-out;
}
div.women-top{
    display: flex;
    justify-content: space-between;
}
div.women-products{
    display: flex;
}
div.women-image{
    margin: 0 2%;
}
div.women-image img{
    width: 100%;
}
div.women-other{
    width: 55%;
}
div.women-other a.bold{
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 4%;  
}
p.product-price{
    font-weight: 800;
    color: #48CAB2;
}
.image-wrapper {
    position: relative;
  }
  .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  .image-hover:hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  div.look{
    display: flex;
    justify-content: space-around;
    margin: 1% 0;
    
  }
  .look-sub{
    width: 30pc;
  }
  div.look-sub-2{
    background-image: url('../../images/look-2.webp');
    
    
  }
  div.look-sub-1{
    
    background-image: url('../../images/look.webp');
   
  }
  
  div.look-sub-1,div.look-sub-2{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 4% 6% 3% 5%; 
    cursor: pointer;
    background-size: cover;
    overflow: hidden;
    background-size: 100%;
    background-position: center; 
  }
  
  .look-head::after,.look-head-2::after{
    display:block;
    content: '';
    
    transform: var(--afterBack,scaleX(0));  
    transition: transform 250ms ease-in-out;
  }
  .look-head::after{
    border-bottom: solid 2px #111212;  
  }
  .look-head-2::after{
    border-bottom: solid 2px azure;  
  }
  
  a.look-sub h2,a.look-sub-2 h2{
    font-weight: 800;
  }
  h2.look-head{
    color: #100f0f;
    margin-right: 33%;
   
  }
  a.look-sub p{
    color: #100f0f;
    margin-right: 21%;
  }
  a.look-sub-2 h2{
    margin-right: 41%;
  }
  a.look-sub-2 p{
    margin-right: 21%;
  }
  p.end{
    color: #0c0d0d;
  }
  div.products{
    display: flex ;
    justify-content: space-between;
    padding: 4%;
    top: 41px;
    position: absolute;
    width: 100%;
  }
  div.first-product,.first-product-2,.first-product-3{
    height: 317px;
    padding: 9% 5%;
    background-size: 175%;
    background-position-x: center;
    color: white;
    height: 357px;
  }
  .first-product{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), url('../../images/look-2.webp');
  }
  .first-product-2{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), url('../../images/collection-3.webp');
  }
  .first-product-3{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), url('../../images/collection-4.webp');
  }
  a.second-product{
    background-image: url('../../images/Yanka.webp');
    background-size: 112%;
    padding: 5% 8% 0% 2%;
    text-align: left;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-position: center;
  }
  a.second-product:hover{
    background-size: 120%;
    
  }
  a.second-product h2,h3{
    color: #fff;
  }
  h2.yanka-head{
    margin-right: 43%;
  }
  h2.yanka-head::after{
    display:block;
    content: '';
    border-bottom: solid 2px #fff;  
    transform: var(--afterBack,scaleX(0));  
    transition: transform 250ms ease-in-out;
  }
  p.first-one{
    margin: 2% 0;
    font-family: 'gordita Medium';
  }
  
  h2.second-one{
    margin: 4% 0;
    font-size: 34px;
    font-family: 'gordita bold';
  }

  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: black;
    border: none;
    padding: 0 !important;
    font-size: 46px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: none;
  color: black;
  text-decoration: none;
}
.owl-product-main{
  width: 69%;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  /* top: 5px; */
  bottom: 13px;
  right: 0px;
  left: 0;
}

  