div.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 0%;
}
div.logo{
}
div.placeSearch{
    border: 1px solid #E9E7E7;
    flex: 0 0 40%;
    text-align: center;
    margin-left: 13%;
    padding: 0 1%;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 46px;
    align-items: center;
    display: flex;
}
div.placeSearch input{
    border: none;
    width: 100%;
    height: 36px;
    outline: none;
    font-weight: 800;
    font-size: 16px;
    margin: 1% 0;
    font-family: 'Gordita Light', sans-serif;
    
    
}
div.cart{
    display: flex;
    padding: 6px 0 0;
    position: relative;
}
div.cart samp.cart-count {
    font-family: inherit;
    font-size: 12px;
    color: #fff !important;
    background-color: #333;
    min-width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 50%;
    top: -7px;
    right: 110px;
    font-weight: 800;
    position: absolute;
}
div.account{
    opacity: 0;
    position: absolute;
    top: 62px;
    left: -123px;
    background: antiquewhite;
    padding: 13% 38% 9% 9%;
}
div.account ul{
    list-style: none;
}
li.account-det{
    margin-top: 13px;
}
div.cart a{
    margin-left: 12px;
}
a.lang{
    text-decoration: none;
    display: flex;
    color: #787676;
    font-weight: 100;
   
    font-size: 14px;
}
a.lang:hover{
    color: #48CAB2;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a.lang p{
    margin-right: 5px;
    font-weight: 400;
}
  
  .dropdown {
    color: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    padding-bottom: 7%;
    align-items: center;
    display: flex;
  }
  
  .dropdown-menu {
    background-color: #fff;
    list-style-type: none;
    display: block;
    padding: 18px 71px;
    position: absolute;
    left: -125px;
    opacity: 0;
    text-align: left;
    top: 20px;
    visibility: hidden;
    z-index: -99999;
    transition:.03s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .lang-main{
    display: contents;
  }
  a.slide{
    text-decoration: none;
    color: #787676;
    display: block;
    margin-top: 15px;
    font-weight: 400;
    font-family: 'Gordita Light', sans-serif;
  }
  a.slide:hover{
    color:#48CAB2 ;
  }
  
  
  
  
  
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    animation: slideleft .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    transition:.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  @keyframes slideleft{
    0%{  opacity: 0;}
    50%{opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.user-name{
  color: #333;
  font-size: large;
}
  